* {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
      text-decoration: none;
}

.container {
      max-width: 1100px;
      width: 100%;
      padding: 20px;
      margin: 0% auto;

}
.allpost {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 1rem;
      height: 100%;
     
}

.post {
      flex: 0 1 230px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem .6rem;
      background-color: rgb(191, 214, 148);
      flex-direction: column;
      text-align: center;
      line-height: 1.6;
      border-radius: .5rem;
      height: 100%;
}

.posts {
      display: flex;
      flex: 0 1 auto;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      height: 100%;
}


